<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [labels]="chartOptions.labels"
    [theme]="chartOptions.theme"
    [plotOptions]="chartOptions.plotOptions"
    [legend]="chartOptions.legend"
    [tooltip]="chartOptions.tooltip"
  ></apx-chart>
  <div class="selected-category">
    <mat-chip *ngIf="selectedCategory"
      ><mat-icon>{{ selectedCategory.category.icon }}</mat-icon
      ><span>{{ selectedCategory.category.name }}</span
      ><span class="amount">{{
        selectedCategory.amount | currency
      }}</span></mat-chip
    >
  </div>
</div>
