<h2 mat-dialog-title>New scope</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-row">
      <button
        mat-icon-button
        (click)="iconSelectorOpen = !iconSelectorOpen"
        type="button"
        cdkOverlayOrigin
        #trigger="cdkOverlayOrigin"
        [disabled]="fetching"
      >
        <mat-icon>{{ form.controls.icon.value }}</mat-icon>
      </button>
      <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name"
          title="name"
          autocomplete="given-name"
        />
        <mat-error *ngIf="form.controls.name.errors">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-checkbox formControlName="shared" color="primary"
        >shared</mat-checkbox
      >
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="fetching">Close</button>
  <button
    mat-flat-button
    color="primary"
    (click)="confirm()"
    [disabled]="fetching || form.invalid"
    type="submit"
  >
    Confirm
  </button>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="iconSelectorOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="iconSelectorOpen = !iconSelectorOpen"
>
  <app-icon-selector (iconSelection)="changeIcon($event)"></app-icon-selector>
</ng-template>
