/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
$primary: mat-palette($mat-deep-purple);
$gold: mat-palette($mat-amber);
$accent: mat-palette($mat-amber);
$bluegray: mat-palette($mat-blue-grey);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.color-primary {
  color: mat-color($primary);
}

.bg-primary {
  background-color: mat-color($primary);
}

.positive {
  color: #3ca55c !important;
}
.bluish {
  color: #3c6aa5 !important;
}
.negative {
  color: #cd5c5c !important;
}
.zerotive {
  color: #797979 !important;
}

.row-flex {
  display: flex !important;
  flex-direction: row !important;
  justify-content: start !important;
  gap: 5px !important;
  align-items: center !important;
}

.mt {
  &-1 {
    margin-top: 1rem !important;
  }
  &-2 {
    margin-top: 2rem !important;
  }
  &-3 {
    margin-top: 3rem !important;
  }
}

.mb {
  &-1 {
    margin-bottom: 1rem !important;
  }
  &-2 {
    margin-bottom: 2rem !important;
  }
  &-3 {
    margin-bottom: 3rem !important;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::ng-deep .mat-disabled-color {
  background-color: mat-color($accent) !important;
  filter: grayscale(1);
  .mat-progress-bar-buffer {
    background-color: mat-color($accent, 100) !important;
    filter: grayscale(1);
  }
  .mat-progress-bar-fill::after {
    background-color: mat-color($accent) !important;
    filter: grayscale(1) !important;
  }
}
