@use "@angular/material" as mat;
@use "./palletes.scss" as pal;

@include mat.core();

$primary: mat.define-palette(pal.$primary-palette, 400);
$accent: mat.define-palette(pal.$accent-palette, 300);

/* TYPOGRAPHY */
// mat.define-typography-level($font-size, $line-height, $font-weight, $font-family, $letter-spacing))
$my-typography: mat.define-typography-config(
  $font-family: "Roboto",
  $body-1: mat.define-typography-level(16px, 28px, 400, "Roboto"),
  $body-2: mat.define-typography-level(16px, 28px, 400, "Roboto"),
);

$fink-light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(pal.$primary-palette, 500),
      accent: mat.define-palette(pal.$accent-palette, 500),
    ),
    typography: $my-typography,
    density: 0,
  )
);

$fink-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(pal.$primary-palette, 400),
      accent: mat.define-palette(pal.$accent-palette, 300),
    ),
    typography: $my-typography,
    density: 0,
  )
);

@include mat.all-component-themes($fink-light-theme);

.dark-theme {
  @include mat.all-component-colors($fink-dark-theme);
}
