.transaction-date {
  /* width: 150px; */
  /* flex-basis: 0; */
}

.transaction-amount {
  font-weight: 500;
  font-size: x-large;
}

::ng-deep mat-form-field {
  .iconed-form-field {
    mat-icon {
      vertical-align: top;
    }
  }

  > .mdc-text-field--filled.mdc-text-field--disabled {
    background-color: transparent;
  }
}

.transaction-dialog-actions {
  .delete-transaction-btn {
    background-color: red;
    color: white;
    margin-right: auto;
  }
}

.amount-form-control {
  margin-top: 1rem;
}
