<div mat-dialog-title>
  <ng-container [ngSwitch]="type">
    <ng-container *ngSwitchCase="'incoming'">
      <span>Incoming transaction</span>
      <div class="mat-label-large">to {{ data.destination.data.name }}</div>
    </ng-container>
    <ng-container *ngSwitchCase="'outgoing'">
      <span>Outgoing transaction</span>
      <div class="mat-label-large">from {{ data.origin.data.name }}</div>
    </ng-container>
    <ng-container *ngSwitchDefault> Transaction </ng-container>
  </ng-container>
</div>

<div mat-dialog-content>
  <ng-container
    *ngTemplateOutlet="type ? formTemplate : unkonType"
  ></ng-container>
</div>
<div mat-dialog-actions class="transaction-dialog-actions">
  <mat-checkbox
    *ngIf="swapEnabled && !hasOriginal"
    class="swap-checkbox"
    [(ngModel)]="swap"
    (change)="onSwapCheckboxChange()"
    style="margin-right: auto"
    >Swap</mat-checkbox
  >
  <button
    mat-icon-button
    *ngIf="hasOriginal && canEdit"
    class="delete-transaction-btn"
    (click)="commit(true)"
  >
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-button mat-dialog-close>Close</button>
  <button
    *ngIf="canEdit"
    mat-flat-button
    [color]="hasOriginal ? 'warn' : 'primary'"
    (click)="commit()"
    [disabled]="
      fetching ||
      (hasOriginal && !originalChanged) ||
      (!swap &&
        (!form.controls['amount'].valid ||
          !form.controls['scope'].valid ||
          !form.controls['category'].valid)) ||
      (swap &&
        (!form.controls['amount'].valid ||
          !form.controls['origin'].valid ||
          !form.controls['destination'].valid ||
          (form.controls['origin'].value &&
            form.controls['destination'].value &&
            form.controls['origin'].value.data._id ===
              form.controls['destination'].value.data._id)))
    "
    type="submit"
  >
    {{ hasOriginal ? "Apply change" : "Commit" }}
  </button>
</div>

<ng-template #unkonType> </ng-template>

<ng-template #formTemplate>
  <form [formGroup]="form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="amount-form-control">
        <mat-label>Amount</mat-label>
        <input
          [class.negative]="type === 'outgoing'"
          [class.positive]="type === 'incoming'"
          class="transaction-amount"
          matInput
          formControlName="amount"
          prefix="{{ type === 'outgoing' ? '-' : '' }}$ "
          title="amount"
          mask="separator.2"
          thousandSeparator=","
          value="0"
          inputmode="decimal"
          pattern="[0-9]+([\.,][0-9]{1,2})?"
          type="text"
        />
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="transaction-date">
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="dp3"
          title="date"
          formControlName="date"
          [max]="maxDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dp3"
          *ngIf="!hasOriginal"
        ></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="iconed-form-field">
        <mat-label>Scope</mat-label>
        <mat-select formControlName="scope">
          <mat-select-trigger>
            <div class="row-flex">
              <mat-icon
                class="form-icon"
                *ngIf="this.form.controls['scope'].value"
                >{{ this.form.controls["scope"].value.data.icon }}</mat-icon
              >
              {{
                this.form.controls["scope"].value
                  ? this.form.controls["scope"].value.data.name
                  : "None"
              }}
            </div>
          </mat-select-trigger>
          <mat-option [value]="null">None</mat-option>
          <mat-option *ngFor="let scope of userScopes" [value]="scope">
            <mat-icon class="form-icon">{{ scope.data.icon }}</mat-icon>
            {{ scope.data.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="iconed-form-field">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-select-trigger>
            <div class="row-flex">
              <mat-icon
                class="form-icon"
                *ngIf="this.form.controls['category'].value"
                >{{ this.form.controls["category"].value.icon }}</mat-icon
              >
              {{
                this.form.controls["category"].value
                  ? this.form.controls["category"].value.name
                  : "None"
              }}
            </div>
          </mat-select-trigger>
          <mat-option [value]="null">None</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category">
            <mat-icon class="form-icon">{{ category.icon }}</mat-icon>
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row" *ngIf="!swap">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" title="description" />
        <mat-error *ngIf="form.controls['description'].hasError('required')">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-row no-gap" *ngIf="swap">
      <!-- Cuenta origen SIEMPRE a la izquierda -->
      <mat-form-field
        [appearance]="type === 'outgoing' ? 'outline' : 'fill'"
        class="iconed-form-field"
        style="flex: 1; margin-right: 8px"
      >
        <mat-label>Cuenta origen</mat-label>
        <ng-container *ngIf="type === 'incoming'">
          <mat-select formControlName="origin">
            <mat-select-trigger>
              <div class="row-flex">
                {{
                  form.controls["origin"].value?.data?.name ||
                    "Selecciona cuenta origen"
                }}
              </div>
            </mat-select-trigger>
            <mat-option [value]="null">Selecciona cuenta origen</mat-option>
            <mat-optgroup
              *ngFor="let group of userAccounts"
              [label]="group.type | uppercase"
            >
              <mat-option
                *ngFor="let account of group.accounts"
                [value]="account"
                [disabled]="
                  account.data._id ===
                  form.controls['destination'].value?.data?._id
                "
              >
                {{ account.data.name }}
                {{
                  account.data._id ===
                  form.controls["destination"].value?.data?._id
                    ? "(seleccionada)"
                    : ""
                }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </ng-container>
        <ng-container *ngIf="type === 'outgoing'">
          <input
            matInput
            [value]="form.controls['origin'].value?.data?.name"
            readonly
            title="Cuenta origen seleccionada"
          />
        </ng-container>
      </mat-form-field>
      <!-- Icono flecha derecha -->
      <div class="swap-arrow-container">
        <mat-icon class="swap-arrow">arrow_forward</mat-icon>
      </div>
      <!-- Cuenta destino SIEMPRE a la derecha -->
      <mat-form-field
        [appearance]="type === 'incoming' ? 'outline' : 'fill'"
        class="iconed-form-field"
        style="flex: 1; margin-left: 8px"
      >
        <mat-label>Cuenta destino</mat-label>
        <ng-container *ngIf="type === 'incoming'">
          <input
            matInput
            [value]="form.controls['destination'].value?.data?.name"
            readonly
            title="Cuenta destino seleccionada"
          />
        </ng-container>
        <ng-container *ngIf="type === 'outgoing'">
          <mat-select formControlName="destination">
            <mat-select-trigger>
              <div class="row-flex">
                {{
                  form.controls["destination"].value?.data?.name ||
                    "Selecciona cuenta destino"
                }}
              </div>
            </mat-select-trigger>
            <mat-option [value]="null">Selecciona cuenta destino</mat-option>
            <mat-optgroup
              *ngFor="let group of userAccounts"
              [label]="group.type | uppercase"
            >
              <mat-option
                *ngFor="let account of group.accounts"
                [value]="account"
                [disabled]="
                  account.data._id === form.controls['origin'].value?.data?._id
                "
              >
                {{ account.data.name }}
                {{
                  account.data._id === form.controls["origin"].value?.data?._id
                    ? "(seleccionada)"
                    : ""
                }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </ng-container>
      </mat-form-field>
    </div>
  </form>
</ng-template>
