<div class="month-picker">
  <button mat-icon-button (click)="goToMonth(-1)">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <div class="month-label">{{ firstDayOfMonth | date : "MMMM" }}</div>
  <button mat-icon-button (click)="goToMonth(1)" [disabled]="disableNext">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>

<mat-list role="list" *ngIf="acumulator" class="acumulator-list">
  <div mat-subheader>Income: {{ totalPositive | currency : "USD" : "$ " }}</div>
  <mat-list-item role="listitem" *ngFor="let group of positive" matRipple>
    <span
      class="mat-line acumulator-line"
      matTooltip="{{ group.category.name }}"
      ><mat-icon>{{ group.category.icon }}</mat-icon></span
    >
    <div class="progress-and-amount">
      <div class="mat-caption">
        {{ group.amount | currency : "USD" : "$ " }}
      </div>
      <mat-progress-bar
        mode="determinate"
        color="primary"
        [value]="group.percent"
        matTooltip="{{ group.amount | currency : 'USD' : '$ ' }}"
        [class.mat-disabled-color]="group.category.name === 'Swap'"
      ></mat-progress-bar>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>
    Outcome: {{ totalNegative | currency : "USD" : "$ " }}
  </div>
  <mat-list-item role="listitem" *ngFor="let group of negative" matRipple>
    <span
      class="mat-line acumulator-line"
      matTooltip="{{ group.category.name }}"
      ><mat-icon>{{ group.category.icon }}</mat-icon></span
    >
    <div class="progress-and-amount">
      <div class="mat-caption">
        {{ group.amount | currency : "USD" : "$ " }}
      </div>
      <mat-progress-bar
        mode="determinate"
        color="warn"
        [value]="group.percent"
        matTooltip="{{ group.amount | currency : 'USD' : '$ ' }}"
        [class.mat-disabled-color]="group.category.name === 'Swap'"
      ></mat-progress-bar>
    </div>
  </mat-list-item>
</mat-list>
