<div class="mat-dialog-title-register" mat-dialog-title>
  <span class="mat-h1" cdkTrapFocus>Register</span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <form [formGroup]="form" class="register-form">
    <div class="form-row">
      <mat-form-field appearance="standard">
        <mat-label>First name</mat-label>
        <input
          matInput
          formControlName="firstName"
          title="firstName"
          autocomplete="given-name"
        />
        <mat-error *ngIf="form.controls.firstName.errors">
          This field is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Last name</mat-label>
        <input
          matInput
          formControlName="lastName"
          title="lastName"
          autocomplete="family-name"
        />
        <mat-error *ngIf="form.controls.lastName.errors">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="email"
        title="email"
        autocomplete="email"
      />
      <mat-error *ngIf="form.controls.email.errors">
        Enter a valid email
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        title="password"
        autocomplete="new-password"
      />
      <mat-error *ngIf="form.controls.password.errors">
        The password must be between 4 and 60 characters
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button
    mat-flat-button
    (click)="register()"
    color="primary"
    class="register-btn expand"
  >
    Sign up
  </button>
  <div class="text-align-center expand">
    Already member?
    <button mat-button (click)="changeToLogin()">Sign in</button>
  </div>
</div>
