@use "@angular/material" as mat;
@use "natives" as natives;
@use "sass:map";
@use "./styles/m3-theme.scss" as m3;

@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//M3
:root {
  @include mat.core-theme(m3.$light-theme);
  @include mat.all-component-themes(m3.$light-theme);

  // especifications
  --mat-sidenav-container-width: auto;
  .mat-mdc-nav-list .mat-mdc-list-item.mdc-list-item--activated {
    --mdc-list-list-item-label-text-color: #00529c;
    --mdc-list-list-item-leading-icon-color: #00529c;
    --mdc-list-list-item-hover-leading-icon-color: #00529c;
    --mat-sidenav-content-background-color: #d5e3ff;
  }
}

// FONTS SECTION
@mixin fonts-mixin {
  .mat-display- {
    &large {
      font: mat.get-theme-typography(m3.$light-theme, display-large, font);
    }
    &medium {
      font: mat.get-theme-typography(m3.$light-theme, display-medium, font);
    }
    &small {
      font: mat.get-theme-typography(m3.$light-theme, display-small, font);
    }
  }
  .mat-headline- {
    &large {
      font: mat.get-theme-typography(m3.$light-theme, headline-large, font);
    }
    &medium {
      font: mat.get-theme-typography(m3.$light-theme, headline-medium, font);
    }
    &small {
      font: mat.get-theme-typography(m3.$light-theme, headline-small, font);
    }
  }
  .mat-title- {
    &large {
      font: mat.get-theme-typography(m3.$light-theme, title-large, font);
    }
    &medium {
      font: mat.get-theme-typography(m3.$light-theme, title-medium, font);
    }
    &small {
      font: mat.get-theme-typography(m3.$light-theme, title-small, font);
    }
  }
  .mat-body- {
    &large {
      font: mat.get-theme-typography(m3.$light-theme, body-large, font);
      line-height: 28px;
      color: mat.get-theme-color(m3.$light-theme, neutral-variant, 30);
    }
    &medium {
      font: mat.get-theme-typography(m3.$light-theme, body-medium, font);
    }
    &small {
      font: mat.get-theme-typography(m3.$light-theme, body-small, font);
    }
  }
  .mat-label- {
    &large {
      font: mat.get-theme-typography(m3.$light-theme, label-large, font);
      font-weight: 400;
    }
    &medium {
      font: mat.get-theme-typography(m3.$light-theme, label-medium, font);
      font-weight: 300;
    }
    &small {
      font: mat.get-theme-typography(m3.$light-theme, label-small, font);
      font-weight: 300;
    }
  }
}
@include fonts-mixin;
@include natives.native-mixin;

h1 {
  @extend .mat-headline-large;
}
h2 {
  @extend .mat-headline-medium;
}
h3 {
  @extend .mat-headline-small;
}
h4 {
  @extend .mat-title-large;
}
p {
  @extend .mat-body-large;
}

// OTHER STYLES
@mixin currency {
  .positive {
    color: #3ca55c !important;
  }
  .bluish {
    color: #3c6aa5 !important;
  }
  .negative {
    color: #cd5c5c !important;
  }
  .zerotive {
    color: #797979 !important;
  }
}
@include currency;
