@use "@angular/material" as mat;
@use "m3-theme" as m3;

mat-card.account-card {
  -webkit-user-select: none;
  user-select: none;

  &.pointer {
    cursor: pointer;
  }

  .account-card-title {
    font-weight: 500;
  }

  overflow: hidden;

  .primary-icon {
    color: mat.get-theme-color(m3.$light-theme, primary, 50);
    vertical-align: text-top;
  }

  .favorite-account-icon {
    float: right;
    cursor: pointer;

    &.not-favorite {
      color: mat.get-theme-color(m3.$light-theme, neutral-variant, 90);
    }

    &.hide {
      display: none;
    }
  }
}

::ng-deep mat-card-content.mat-card-content-account {
  margin-bottom: 1rem;
  > * {
    font-weight: 500;
  }
}
