<mat-card
  class="account-card"
  matRipple
  [matRippleDisabled]="!ripple"
  (click)="onCardClick()"
  [class.pointer]="ripple"
  [class.shared-account]="account.shared"
>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="account-card-title">
        <mat-icon *ngIf="account.shared" class="primary-icon">group</mat-icon>
        {{ account.data.name }}</mat-card-title
      >
      <mat-card-subtitle
        ><span class="mat-label-large">{{
          account.data.type
        }}</span></mat-card-subtitle
      >
      <mat-icon
        mat-card-image
        class="primary-icon favorite-account-icon"
        [class.not-favorite]="!account.data.favorite"
        [class.hide]="ripple && !account.data.favorite"
        (click)="toogleFavorite()"
        >{{ account.data.favorite ? "star" : "star_outlined" }}</mat-icon
      >
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="mat-card-content-account">
    <h4
      [class.positive]="account.data.amount > 0"
      [class.bluish]="
        account.data.symbol === 'USD' || account.data.symbol === 'USDT'
      "
      [class.negative]="account.data.amount < 0"
      [class.zerotive]="account.data.amount == 0"
    >
      {{ account.data.amount | currency }}
      <span class="mat-label-large">{{ account.data.symbol }}</span>
    </h4>
  </mat-card-content>
  <div></div>
</mat-card>
