.transaction-date {
  width: 150px;
  flex-basis: 0;
}

.transaction-amount {
  font-weight: 500;
  font-size: x-large;
}

::ng-deep mat-form-field.iconed-form-field {
  .mat-form-field-infix {
    height: 1.4rem;
  }
}
