<div mat-dialog-title>
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'incoming'">
      <div mat-line>Incoming transaction</div>
      <div mat-line class="mat-caption">
        to {{ data.destination?.data?.name }}
      </div>
    </div>
    <div *ngSwitchCase="'outgoing'">
      <div mat-line>Outgoing transaction</div>
      <div mat-line class="mat-caption">from {{ data.origin?.data?.name }}</div>
    </div>
    <div *ngSwitchDefault>
      <div mat-line>Transaction</div>
    </div>
  </div>
</div>

<div mat-dialog-content>
  <!-- <form [formGroup]="form">
    <mat-stepper linear #stepper [orientation]="'vertical'">
      <mat-step [editable]="true" [stepControl]="form.controls.amount">
        <ng-template matStepLabel>Set the amount</ng-template>
        <div class="form-row">
          <mat-form-field appearance="outline" class="amount-form-control">
            <mat-label>Amount</mat-label>
            <input
              [class.negative]="type === 'outgoing'"
              [class.positive]="type === 'incoming'"
              class="transaction-amount"
              matInput
              formControlName="amount"
              title="amount"
              prefix="{{ type === 'outgoing' ? '-' : '' }}$ "
              mask="separator.2"
              thousandSeparator=","
              value="0"
            />
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="outline" class="amount-form-control">
            <mat-label>Amount</mat-label>
            <input
              [class.negative]="type === 'outgoing'"
              [class.positive]="type === 'incoming'"
              class="transaction-amount"
              matInput
              formControlName="amount"
              title="amount"
              prefix="{{ type === 'outgoing' ? '-' : '' }}$ "
              mask="separator.2"
              thousandSeparator=","
              value="0"
            />
          </mat-form-field>
        </div>
        <div>
          <button mat-button mat-dialog-close [disabled]="fetching">
            Close
          </button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [editable]="true" [stepControl]="form.controls.categories">
        <ng-template matStepLabel>Choose a category</ng-template>
        <div class="form-row">
          <mat-form-field appearance="standard">
            <mat-label>Categories</mat-label>
            <mat-chip-list #chipList aria-label="Category selection">
              <mat-chip
                #chipItem="matChip"
                *ngFor="let category of categories"
                [color]="
                  chipItem.selected
                    ? 'accent'
                    : chipItem.toggleSelected() && 'accent'
                "
                [removable]="true"
                (removed)="remove(category)"
                selected
              >
                {{ category }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
              <input
                placeholder="Add a category..."
                #categoryInput
                formControlName="categories"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let category of filteredCategories | async"
                [value]="category"
              >
                {{ category }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div>
          <button mat-button mat-dialog-close [disabled]="fetching">
            Close
          </button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
      <mat-step
        [editable]="true"
        optional
        [stepControl]="form.controls.description"
      >
        <ng-template matStepLabel>Add a description</ng-template>
        <div class="form-row">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field appearance="standard">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" title="description" />
            <mat-error *ngIf="form.controls.description.hasError('required')"
              >This field is required</mat-error
            >
          </mat-form-field>
        </div>
        <div>
          <button mat-button mat-dialog-close [disabled]="fetching">
            Close
          </button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
    </mat-stepper>
  </form> -->

  <form [formGroup]="form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="amount-form-control">
        <mat-label>Amount</mat-label>
        <input
          [class.negative]="type === 'outgoing'"
          [class.positive]="type === 'incoming'"
          class="transaction-amount"
          matInput
          formControlName="amount"
          title="amount"
          prefix="{{ type === 'outgoing' ? '-' : '' }}$ "
          mask="separator.2"
          thousandSeparator=","
          value="0"
        />
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="standard">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" title="description" />
        <mat-error *ngIf="form.controls.description.hasError('required')"
          >This field is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="standard">
        <mat-label>Categories</mat-label>
        <mat-chip-list #chipList aria-label="Category selection">
          <mat-chip
            #chipItem="matChip"
            *ngFor="let category of categories"
            [color]="
              chipItem.selected
                ? 'accent'
                : chipItem.toggleSelected() && 'accent'
            "
            [removable]="true"
            (removed)="remove(category)"
            selected
          >
            {{ category }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Add a category..."
            #categoryInput
            formControlName="categories"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="selected($event)"
        >
          <mat-option
            *ngFor="let category of filteredCategories | async"
            [value]="category"
          >
            {{ category }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </form>
</div>
<!-- <div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="fetching">Close</button>
  <button
    mat-flat-button
    color="primary"
    (click)="commit()"
    [disabled]="!form.valid || fetching"
  >
    Commit
  </button>
</div>
 -->
