<div mat-dialog-title>
  <div [ngSwitch]="type">
    <div *ngSwitchCase="'incoming'">
      <div mat-line>Incoming transaction</div>
      <div mat-line class="mat-caption">
        to {{ data.destination?.data?.name }}
      </div>
    </div>
    <div *ngSwitchCase="'outgoing'">
      <div mat-line>Outgoing transaction</div>
      <div mat-line class="mat-caption">from {{ data.origin?.data?.name }}</div>
    </div>
    <div *ngSwitchDefault>
      <div mat-line>Transaction</div>
    </div>
  </div>
</div>

<div mat-dialog-content>
  <ng-container
    *ngTemplateOutlet="type ? formTemplate : unkonType"
  ></ng-container>
</div>
<div mat-dialog-actions>
  <mat-checkbox
    class="example-margin"
    [(ngModel)]="swap"
    style="margin-right: auto"
    (change)="onSwapCheckboxChange()"
    >Swap</mat-checkbox
  >
  <button mat-button mat-dialog-close [disabled]="fetching">Close</button>
  <button
    mat-flat-button
    [color]="hasOriginal ? 'warn' : 'primary'"
    (click)="commit()"
    [disabled]="!form.valid || fetching || (hasOriginal && !originalChanged)"
    type="submit"
  >
    {{ hasOriginal ? "Apply change" : "Commit" }}
  </button>
  <button
    *ngIf="hasOriginal"
    mat-flat-button
    color="warn"
    (click)="commit(true)"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>

<ng-template #unkonType> </ng-template>

<ng-template #formTemplate>
  <form [formGroup]="form">
    <div class="form-row">
      <mat-form-field appearance="outline" class="amount-form-control">
        <mat-label>Amount</mat-label>
        <input
          [class.negative]="type === 'outgoing'"
          [class.positive]="type === 'incoming'"
          class="transaction-amount"
          matInput
          formControlName="amount"
          title="amount"
          prefix="{{ type === 'outgoing' ? '-' : '' }}$ "
          mask="separator.2"
          thousandSeparator=","
          value="0"
        />
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="standard">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" title="description" />
        <mat-error *ngIf="form.controls.description.hasError('required')"
          >This field is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="standard" class="transaction-date">
        <mat-label>Date</mat-label>
        <input
          matInput
          [matDatepicker]="dp3"
          title="date"
          formControlName="date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="dp3"
          *ngIf="!hasOriginal"
        ></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-row" *ngIf="!swap">
      <mat-form-field appearance="standard" class="iconed-form-field">
        <mat-label>Scope</mat-label>
        <mat-select formControlName="scope">
          <mat-select-trigger>
            <div class="row-flex">
              <mat-icon *ngIf="this.form.controls.scope.value">{{
                this.form.controls.scope.value.data.icon
              }}</mat-icon>
              {{
                this.form.controls.scope.value
                  ? this.form.controls.scope.value.data.name
                  : "None"
              }}
            </div>
          </mat-select-trigger>
          <mat-option [value]="null">None</mat-option>
          <mat-option *ngFor="let scope of userScopes" [value]="scope">
            <mat-icon>{{ scope.data.icon }}</mat-icon>
            {{ scope.data.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard" class="iconed-form-field">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-select-trigger>
            <div class="row-flex">
              <mat-icon *ngIf="this.form.controls.category.value">{{
                this.form.controls.category.value.icon
              }}</mat-icon>
              {{
                this.form.controls.category.value
                  ? this.form.controls.category.value.name
                  : "None"
              }}
            </div>
          </mat-select-trigger>
          <mat-option [value]="null">None</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category">
            <mat-icon>{{ category.icon }}</mat-icon>
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-row" *ngIf="swap">
      <mat-form-field appearance="standard" class="iconed-form-field">
        <mat-label>{{ type === "incoming" ? "From" : "To" }}</mat-label>
        <mat-select *ngIf="type === 'incoming'" formControlName="origin">
          <mat-select-trigger>
            <div class="row-flex">
              <mat-icon>swap_horiz</mat-icon>
              {{
                this.form.controls.origin.value
                  ? this.form.controls.origin.value.data.name
                  : "None"
              }}<span *ngIf="this.form.controls.amount.value">
                (- {{ this.form.controls.amount.value | currency }})
              </span>
            </div>
          </mat-select-trigger>
          <mat-option [value]="null">None</mat-option>
          <mat-optgroup
            *ngFor="let group of userAccounts"
            [label]="group.type | uppercase"
          >
            <mat-option
              *ngFor="let account of group.accounts"
              [value]="account"
              [disabled]="
                account.data._id ===
                this.form.controls.destination?.value.data?._id
              "
            >
              {{ account.data.name }}
              {{
                account.data._id ===
                this.form.controls.destination?.value.data?._id
                  ? "(destination)"
                  : ""
              }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-select *ngIf="type === 'outgoing'" formControlName="destination">
          <mat-select-trigger>
            <div class="row-flex">
              <mat-icon>swap_horiz</mat-icon>
              {{
                this.form.controls.destination.value
                  ? this.form.controls.destination.value.data.name
                  : "None"
              }}<span *ngIf="this.form.controls.amount.value">
                (+ {{ this.form.controls.amount.value | currency }})
              </span>
            </div>
          </mat-select-trigger>
          <mat-option [value]="null">None</mat-option>
          <mat-optgroup
            *ngFor="let group of userAccounts"
            [label]="group.type | uppercase"
          >
            <mat-option
              *ngFor="let account of group.accounts"
              [value]="account"
              [disabled]="
                account.data._id === this.form.controls.origin?.value.data?._id
              "
            >
              {{ account.data.name }}
              {{
                account.data._id === this.form.controls.origin?.value.data?._id
                  ? "(origin)"
                  : ""
              }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</ng-template>
