<!-- <app-balance-graph
  [data]="accountBalanceData"
  (scopeChange)="balanceDays = $event; getAccountBalance()"
></app-balance-graph> -->

<h1>dashboard works!</h1>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium. Lorem
  ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium.
</p>

<h2>Heading</h2>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium. Lorem
  ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium. Lorem
  ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium. Lorem
  ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium.
</p>

<h2>Heading</h2>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita modi earum
  velit consequuntur! Earum deserunt eum consectetur facilis animi aliquid,
  impedit pariatur! Fugiat reprehenderit veniam perferendis officia, omnis hic!
  Nobis.
</p>

<ul>
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, porro sequi
    eos beatae neque vero perspiciatis, facilis ad reiciendis..
  </li>
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, porro sequi
    eos beatae neque vero perspiciatis, facilis ad reiciendis..
  </li>
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, porro sequi
    eos beatae neque vero perspiciatis, facilis ad reiciendis..
  </li>
</ul>

<h2>Heading</h2>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium. Lorem
  ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium. Lorem
  ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium. Lorem
  ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium.
</p>
<h2>Heading</h2>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium. Lorem
  ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium. Lorem
  ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium. Lorem
  ipsum, dolor sit amet consectetur adipisicing elit. Similique suscipit
  consectetur maiores, atque ipsum ab placeat. Eaque voluptate, ullam asperiores
  id odio placeat sunt, maxime illum fugiat corporis dolorem praesentium.
</p>

<h2>Heading</h2>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita modi earum
  velit consequuntur! Earum deserunt eum consectetur facilis animi aliquid,
  impedit pariatur! Fugiat reprehenderit veniam perferendis officia, omnis hic!
  Nobis.
</p>

<ul>
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, porro sequi
    eos beatae neque vero perspiciatis, facilis ad reiciendis..
  </li>
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, porro sequi
    eos beatae neque vero perspiciatis, facilis ad reiciendis..
  </li>
  <li>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, porro sequi
    eos beatae neque vero perspiciatis, facilis ad reiciendis..
  </li>
</ul>
