<!-- <div class="logo-container">
  <app-animated-logo></app-animated-logo>
</div> -->
<header class="homepage-header">
  <div class="header-section">
    <div class="header-headline">
      <!-- <div class="brand-container">
        <app-brand></app-brand>
      </div> -->
      <h1 class="mat-display-large">Fink</h1>
      <h2>Financial track system for accounts balance, budget and more</h2>
    </div>
    <div class="header-start">
      <button mat-raised-button (click)="onGetStartedClick()">
        Get started
      </button>
    </div>
  </div>
  <app-logo class="app-logo"></app-logo>
</header>
<main class="homepage-promo">
  <div class="homepage-row">
    <div class="homepage-row-column">
      <h2>Robust Management</h2>
      <p>
        FINK offers a user-friendly platform for managing account balances,
        transactions, budgets, and more. Keep a holistic view of your finances
        at any time.
      </p>
      <p>
        Set financial goals, monitor spending, and adjust budgets effortlessly
        with FINK's comprehensive tools.
      </p>
    </div>

    <div class="homepage-row-column">
      <h2>Customizable Insights</h2>
      <p>
        Tailor your dashboard and reports to suit your needs. FINK provides the
        flexibility to display the most relevant financial information.
      </p>
      <p>
        Focus on detailed breakdowns or high-level overviews, making your
        financial tracking efficient and effective.
      </p>
    </div>

    <div class="homepage-row-column">
      <h2>Secure and Reliable</h2>
      <p>
        FINK ensures your financial data is protected with top-tier security
        measures. Manage your finances with peace of mind.
      </p>
      <p>
        Enjoy high reliability and uptime, ensuring seamless financial
        management without interruptions.
      </p>
    </div>
  </div>
</main>
