@use "@angular/material" as mat;
@use "m3-theme" as m3;

:host {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.main-app-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  background-color: mat.get-theme-color(m3.$light-theme, primary, 90);
  padding: 0 0.5rem;
  height: 64px;
  z-index: 999;

  > .toolbar-actions {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
  }
}

#sub-toolbar-info {
  /* background-color: primary-color(700); */
  /* color: primary-color(700, "contrast"); */
  padding: 2px 1rem;

  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;

  > div.symbol-change {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
}

.go-back {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

::ng-deep mat-drawer-container.main-app-drawer-container {
  flex-grow: 1;
  background-color: transparent;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 64px;
    width: 100%;
    background-color: mat.get-theme-color(m3.$light-theme, primary, 90);
  }

  mat-drawer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem 0 0.5rem;
    border-right: 1px solid
      mat.get-theme-color(m3.$light-theme, neutral-variant, 90);
    /* border-radius: 0; */
    /* background-color: gray; */

    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    mat-nav-list {
      mat-list-item {
        margin: 5px 0;
        -webkit-user-select: none;
        user-select: none;
      }
    }
  }

  mat-drawer-content {
    position: unset;
    background-color: mat.get-theme-color(m3.$light-theme, neutral-variant, 99);
  }
}

::ng-deep .main-responsive-container {
  padding: 0.875rem;
  margin: 0 auto;
}
@media (width > 768px) {
  ::ng-deep .main-responsive-container {
    padding: 1.5em 2em;
    max-width: 70em;
  }
}
