@use "@angular/material" as mat;
@use "m3-theme" as m3;

:host {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
.main-app-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  background-color: mat.get-theme-color(m3.$light-theme, primary, 90);
  padding: 0.5rem;

  > .toolbar-actions {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
  }
}

#sub-toolbar-info {
  /* background-color: primary-color(700); */
  /* color: primary-color(700, "contrast"); */
  padding: 2px 1rem;

  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;

  > div.symbol-change {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
}

::ng-deep mat-drawer-container.main-app-drawer-container {
  flex-grow: 1;

  mat-divider {
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
  }

  mat-drawer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem 0 0.5rem;

    mat-nav-list {
      mat-list-item {
        margin: 5px 0;
        -webkit-user-select: none;
        user-select: none;
      }
    }
  }

  mat-drawer-content {
    position: relative;
    > section.main-responsive-container {
      padding: 0.875rem;
      margin: 0 auto;
    }
  }
}

@media (width > 768px) {
  mat-drawer-content {
    > section.main-responsive-container {
      padding: 1.5em 2em;
      max-width: 70em;
    }
  }
}

.logo-container {
  display: grid;
  place-content: center;
}
