<mat-drawer-container class="main-app-drawer-container" autosize>
  <mat-drawer
    #drawer
    [mode]="screenSize >= 2 ? 'side' : 'over'"
    [opened]="this.screenSize >= 2 && loggedIn"
  >
    <mat-nav-list>
      @for (link of navItems.values(); track link) {
      <mat-list-item
        [activated]="link.active"
        [routerLink]="link.route"
        *ngIf="!link.disabled"
      >
        <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
        <span matListItemTitle>{{ link.name }}</span>
      </mat-list-item>
      }
    </mat-nav-list>
    <mat-nav-list class="expand">
      <mat-list-item (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <span matListItemTitle>Logout</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="main-app-toolbar">
      <!-- <button
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="loggedIn && this.screenSize < 2"
      >
        <mat-icon>{{ drawer.opened ? "close" : "menu" }}</mat-icon>
      </button> -->
      <app-header *ngIf="loggedIn"></app-header>
      <div class="toolbar-actions">
        <ng-container
          *ngTemplateOutlet="loggedIn ? loggedTopbar : unloggedTopbar"
        ></ng-container>
      </div>
    </div>
    <section [class.main-responsive-container]="loggedIn">
      <ng-content></ng-content>
    </section>
  </mat-drawer-content>
</mat-drawer-container>
<ng-container *ngTemplateOutlet="bottomToolbar"></ng-container>

<ng-template #unloggedTopbar>
  <button mat-button [disabled]="fetching" (click)="openLoginDialog()">
    Login
  </button>
  <button mat-button [disabled]="fetching" (click)="openRegisterDialog()">
    Register
  </button>
</ng-template>

<ng-template #loggedTopbar>
  <!-- <app-user-menu></app-user-menu> -->
</ng-template>

<ng-template #bottomToolbar>
  <app-bottom-toolbar
    [items]="navItems"
    *ngIf="loggedIn && this.screenSize < 2"
  ></app-bottom-toolbar>
</ng-template>
