::ng-deep {
  .text-align-center {
    text-align: center;
  }
  .width-100 {
    width: 100%;
  }
}

::ng-deep .navigation-header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  border-radius: 5px;
  left: 0;
  right: 0;
}
