<button mat-button (click)="navigateBack()" color="primary">
  <mat-icon>chevron_left</mat-icon> BACK TO THE ACCOUNT
</button>

<div class="mat-card transactions-list-container">
  <h2 class="transactions-list-title">
    Your activity <span *ngIf="account">in {{ account.data.name }}</span>
  </h2>
  <mat-divider></mat-divider>
  <div class="transactions-search-bar" [formGroup]="searchFormGroup">
    <!-- <mat-form-field appearance="outline" class="iconed-form-field">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category">
        <mat-select-trigger>
          <div class="row-flex">
            <mat-icon *ngIf="this.searchFormGroup.controls.category.value">{{
              this.searchFormGroup.controls.category.value.icon
            }}</mat-icon>
            {{
              this.searchFormGroup.controls.category.value
                ? this.searchFormGroup.controls.category.value.name
                : "None"
            }}
          </div>
        </mat-select-trigger>
        <mat-option [value]="null">None</mat-option>
        <mat-optgroup *ngFor="let group of scopes" [label]="group.data.name">
          <mat-option
            *ngFor="let category of group.getCategories()"
            [value]="category"
          >
            <mat-icon>{{ category.icon }}</mat-icon>
            {{ category.name }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field> -->
    <button
      mat-icon-button
      (click)="catSelectorOpen = !catSelectorOpen"
      type="button"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
      [disabled]="fetching"
      color="primary"
      [matTooltip]="
        searchFormGroup.controls.category.value?.name || 'all categories'
      "
    >
      <mat-icon>{{
        searchFormGroup.controls.category.value?.icon || "menu"
      }}</mat-icon>
    </button>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput title="search" formControlName="description" />
      <span matSuffix><mat-icon>search</mat-icon></span>
    </mat-form-field>
  </div>
  <mat-action-list
    class="transaction-list"
    *ngIf="!fetching; else skeletonList"
  >
    <mat-list-item
      *ngFor="let transaction of transactions"
      class="transaction-item"
      (click)="onTransactionClick(transaction)"
    >
      <div
        class="transaction-left"
        matTooltip="{{ transaction.scope.category.name }}"
      >
        <mat-icon class="transaction-scope">{{
          transaction.scope.category.icon
        }}</mat-icon>
      </div>
      <div class="transaction-main">
        <div mat-line>
          <span> {{ transaction.description }}</span>
        </div>
        <div
          class="transaction-light mat-caption row-flex"
          style="margin-top: 5px"
        >
          <span class="mat-caption"
            >{{ transaction.scope.name | uppercase }} -
            {{ transaction.scope.category.name }}</span
          >
        </div>
      </div>
      <div class="transaction-right">
        <div
          mat-line
          class="transaction-amount"
          [class.positive]="transaction.amount > 0"
          [class.bold]="transaction.amount > 0"
        >
          <span>
            {{ transaction.amount > 0 ? "+ " : ""
            }}{{ transaction.amount | currency : "USD" : "$ " }}
          </span>
        </div>
        <div
          class="transaction-date transaction-light mat-caption"
          style="margin-top: 5px"
        >
          <span>{{ transaction.date | formatDate }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-paginator
      [length]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [showFirstLastButtons]="true"
      aria-label="Select page"
      (page)="onPaginatorChange($event)"
    >
    </mat-paginator>
  </mat-action-list>
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="catSelectorOpen"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="catSelectorOpen = !catSelectorOpen"
>
  <app-icon-selector
    (categorySelection)="changeCategory($event)"
    [categories]="true"
  ></app-icon-selector>
</ng-template>

<ng-template #skeletonList>
  <mat-action-list class="transaction-list">
    <mat-list-item
      *ngFor="let transaction of transactions"
      class="transaction-item"
      (click)="onTransactionClick(transaction)"
    >
      <div
        class="transaction-left"
        matTooltip="{{ transaction.scope.category.name }}"
        [appSkeletonLoader]="fetching"
      >
        <mat-icon class="transaction-scope">{{
          transaction.scope.category.icon
        }}</mat-icon>
      </div>
      <div class="transaction-main" [appSkeletonLoader]="fetching">
        <div mat-line>
          <span> {{ transaction.description }}</span>
        </div>
        <div
          class="transaction-light mat-caption row-flex"
          style="margin-top: 5px"
        >
          <span class="mat-caption"
            >{{ transaction.scope.name | uppercase }} -
            {{ transaction.scope.category.name }}</span
          >
        </div>
      </div>
      <div class="transaction-right" [appSkeletonLoader]="fetching">
        <div
          mat-line
          class="transaction-amount"
          [class.positive]="transaction.amount > 0"
          [class.bold]="transaction.amount > 0"
        >
          <span>
            {{ transaction.amount > 0 ? "+ " : ""
            }}{{ transaction.amount | currency : "USD" : "$ " }}
          </span>
        </div>
        <div
          class="transaction-date transaction-light mat-caption"
          style="margin-top: 5px"
        >
          <span>{{ transaction.date | formatDate }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-paginator
      [length]="this.paginator?.length || 0"
      [pageSize]="this.paginator?.pageSize || 5"
      [pageIndex]="this.paginator?.pageIndex || 5"
      [pageSizeOptions]="this.paginator?.pageSizeOptions || [5]"
      [showFirstLastButtons]="true"
      aria-label="Select page"
      [disabled]="true"
    >
    </mat-paginator>
  </mat-action-list>
</ng-template>
