.transactions-list-container {
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  .transactions-list-title {
    padding: 1rem 1rem 0 1rem;
  }

  mat-list-item.transaction-item {
    width: 100%;

    .mat-list-item-content {
      padding: 0.5rem 1rem;
    }
    .transaction-light {
      color: #999;
    }
    .transaction-left {
      margin-right: 1rem;
    }
    .transaction-main {
      width: 0;
      flex-grow: 1;
      .mat-line {
        width: 100%;
      }
    }
    .transaction-right {
      margin-left: 1rem;
      > * {
        text-align: end;
      }
      .bold {
        font-weight: 500;
      }
    }
  }

  .activity-history {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }
}

::ng-deep .transactions-search-bar {
  padding: 1rem 1rem 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  mat-form-field {
    width: 100%;
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}
