<mat-card class="scope-card" *ngIf="scope">
  <mat-card-title class="row-flex"
    ><mat-icon>{{ scope.data.icon }}</mat-icon> {{ scope.data.name }}
  </mat-card-title>
  <mat-card-subtitle>
    {{ scope.data.categories.length }} categories
  </mat-card-subtitle>
  <mat-card-content>
    <mat-chip-list #chipList aria-label="Category selection" multiple>
      <mat-chip
        #chipItem="matChip"
        *ngFor="let category of fixed"
        color="{{ category.fixed ? 'primary' : 'accent' }}"
        selected
      >
        <mat-icon>{{ category.icon }}</mat-icon
        >&nbsp;{{ category.name }}
      </mat-chip>
    </mat-chip-list>
    <mat-divider inset class="mt-1 mb-1"></mat-divider>
    <mat-chip-list #chipList aria-label="Category selection" multiple>
      <mat-chip
        #chipItem="matChip"
        *ngFor="let category of variable"
        color="{{ category.fixed ? 'primary' : 'accent' }}"
        selected
      >
        <mat-icon>{{ category.icon }}</mat-icon
        >&nbsp;{{ category.name }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-footer>
    <mat-toolbar *ngIf="!scope.data.shared">private</mat-toolbar>
    <mat-toolbar *ngIf="scope.data.shared"
      >shared with {{ scope.data.users.length - 1 }} users</mat-toolbar
    >
  </mat-card-footer>
</mat-card>

<!-- (click)="chipItem.selected ? chipItem.deselect() : chipItem.select()"
 -->
