.icons-container {
  max-width: 250px;
  max-height: 250px;
  overflow: auto;

  .none-btn {
    width: 100%;
  }
}

.category {
  margin: 1rem 0;

  .category-icons {
    margin-bottom: 0.5rem;
  }
}
