.calendar-container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min-content;
  margin: auto;

  mat-calendar {
    width: 70vh;
    max-width: 80vw;
  }

  .calendar-filter {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

::ng-deep .all-calendar-days {
  .mat-calendar-body-cell-content {
    border-radius: 5px !important;
  }

  &.has-transactions {
    .mat-calendar-body-cell-content {
      border: 1px dashed rgba($color: #673ab7, $alpha: 0.5);
    }
  }
}
