:host {
  position: relative;
}

form.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  mat-form-field {
    width: 100%;
  }
}

.login-btn {
  margin: 1rem 0;
}

.expand {
  width: 100%;
}

.mat-dialog-title-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  .mat-h1 {
    flex-grow: 1;
    margin-bottom: 0;
  }
}
