@import "../../styles.scss";

:host {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
mat-toolbar.main-app-toolbar {
  position: sticky;
  top: 0;
  flex-shrink: 0;

  > .toolbar-actions {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
  }
}

#sub-toolbar-info {
  background-color: mat-color($accent, 300);
  padding: 2px 1rem;

  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;

  > div.symbol-change {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
}

mat-drawer-container.main-app-drawer-container {
  flex-grow: 1;

  mat-drawer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .active-link {
      background-color: mat-color($primary, 50);
      color: mat-color($primary, 400);
    }
  }

  mat-drawer-content {
    position: relative;
    > section.main-responsive-container {
      padding: 0.875rem;
      margin: 0 auto;
    }
  }
}

@media (width > 768px) {
  mat-drawer-content > section.main-responsive-container {
    padding: 1.5em 2em;
    max-width: 70em;
  }
}
