<mat-toolbar class="main-app-toolbar" color="primary">
  <button
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="loggedIn && this.screenSize < 2"
  >
    <mat-icon>{{ drawer.opened ? "close" : "menu" }}</mat-icon>
  </button>
  <div *ngIf="screenSize >= 2" class="logo-container">
    <k></k>
  </div>
  <div class="toolbar-actions">
    <ng-container
      *ngTemplateOutlet="loggedIn ? loggedActions : unloggedActions"
    ></ng-container>
  </div>
</mat-toolbar>
<div id="sub-toolbar-info" class="mat-caption">
  <div *ngIf="changes.get('MEP')" class="symbol-change">
    MEP: {{ changes.get("MEP")?.venta | currency }}
  </div>
  <div *ngIf="changes.get('INFORMAL')" class="symbol-change">
    Blue: {{ changes.get("INFORMAL")?.venta | currency }}
  </div>
  <div *ngIf="changes.get('CRIPTO')" class="symbol-change">
    Cripto: {{ changes.get("CRIPTO")?.venta | currency }}
  </div>
  <!-- <mat-chip-list aria-label="symbol changes">
    <mat-chip color="accent" selected
      ></mat-chip
    >
  </mat-chip-list> -->
</div>

<mat-drawer-container class="main-app-drawer-container" autosize>
  <mat-drawer
    #drawer
    [mode]="screenSize >= 2 ? 'side' : 'over'"
    [opened]="this.screenSize >= 2 && loggedIn"
  >
    <mat-nav-list *ngFor="let item of navItems">
      <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
        <mat-icon mat-list-icon [color]="item.active ? 'accent' : undefined">{{
          item.icon
        }}</mat-icon>
        <div mat-line>{{ item.name }}</div>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <section class="main-responsive-container">
      <ng-content></ng-content>
    </section>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #unloggedActions>
  <button mat-button [disabled]="fetching" (click)="openLoginDialog()">
    LOGIN
  </button>
  <button mat-flat-button [disabled]="fetching" (click)="openRegisterDialog()">
    REGISTER
  </button>
</ng-template>

<ng-template #loggedActions>
  <app-user-menu></app-user-menu>
</ng-template>

<!-- <div class="variacion">
      <span *ngIf="changes.get('MEP')?.['class-variacion']==='up'">▲</span>
      <span *ngIf="changes.get('MEP')?.['class-variacion']==='down'">▼</span>
      <span *ngIf="changes.get('MEP')?.['class-variacion']==='equal'">=</span>
    </div> -->
