@import "../../palletes.scss";

:host {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
mat-toolbar.main-app-toolbar {
  position: sticky;
  top: 0;
  flex-shrink: 0;

  > .toolbar-actions {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
  }
}

#sub-toolbar-info {
  background-color: primary-color(700);
  color: primary-color(700, "contrast");
  padding: 2px 1rem;

  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;

  > div.symbol-change {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
}

::ng-deep mat-drawer-container.main-app-drawer-container {
  flex-grow: 1;

  mat-drawer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .mat-list-item {
      color: rgba($color: primary-color(50, "contrast"), $alpha: 0.8);
      &:hover {
        background-color: rgba($color: accent-color(50), $alpha: 0.5);
      }
      &.active-link {
        background-color: accent-color(50);
        color: accent-color(700);
      }
    }
  }

  .nav-link {
    background-color: primary-color(100);
    color: primary-color(900, "contrast");

    &:hover {
      background-color: primary-color(200);
      color: primary-color(900, "contrast");
    }

    &.active-link {
      background-color: primary-color(500);
      color: primary-color(50, "contrast");
    }
  }

  mat-drawer-content {
    position: relative;
    > section.main-responsive-container {
      padding: 0.875rem;
      margin: 0 auto;
    }
  }
}

@media (width > 768px) {
  mat-drawer-content > section.main-responsive-container {
    padding: 1.5em 2em;
    max-width: 70em;
  }
}

.logo-container {
  display: grid;
  place-content: center;
  img {
    height: 40px;
  }
}
