@import "../../styles.scss";

:host {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
mat-toolbar.main-app-toolbar {
  position: sticky;
  top: 0;
  flex-shrink: 0;

  > .toolbar-actions {
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
  }
}

#symbol-changes-info {
  background-color: mat-color($accent, 300);
  /* color: white; */
  padding: 2px 1rem;
  > div.symbol-change {
    float: right;
    display: flex;
    flex-direction: row;
  }
}

mat-drawer-container.main-app-drawer-container {
  flex-grow: 1;

  mat-drawer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    .active-link {
      background-color: mat-color($primary, 50);
      color: mat-color($primary, 400);
    }
  }

  mat-drawer-content {
    position: relative;
    > main {
      padding: 0.5rem 1rem;
      margin-right: auto;
      margin-left: auto;
      max-width: 1200px;
    }
  }
}
