<mat-toolbar class="main-app-toolbar" color="primary">
  <button mat-icon-button (click)="drawer.toggle()" *ngIf="loggedIn">
    <mat-icon>{{ drawer.opened ? "close" : "menu" }}</mat-icon>
  </button>
  <span>Financial managment system</span>
  <div class="toolbar-actions">
    <ng-container
      *ngTemplateOutlet="loggedIn ? loggedActions : unloggedActions"
    ></ng-container>
  </div>
</mat-toolbar>

<mat-drawer-container class="main-app-drawer-container" autosize>
  <mat-drawer #drawer mode="side">
    <mat-nav-list *ngFor="let item of navItems">
      <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
        <mat-icon mat-list-icon [color]="item.active ? 'primary' : undefined">{{
          item.icon
        }}</mat-icon>
        <div mat-line>{{ item.name }}</div>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <main class="main-responsive-container">
      <ng-content></ng-content>
    </main>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #unloggedActions>
  <button mat-button [disabled]="fetching" (click)="openLoginDialog()">
    LOGIN
  </button>
  <button mat-flat-button [disabled]="fetching" (click)="openRegisterDialog()">
    REGISTER
  </button>
</ng-template>

<ng-template #loggedActions>
  <app-user-menu></app-user-menu>
</ng-template>
