<mat-card (click)="goToAccount()">
  <mat-card-title
    >{{ account.data.name }}
    <mat-icon
      class="favorite-account-icon"
      *ngIf="account.favorite"
      color="accent"
      >star</mat-icon
    ></mat-card-title
  >
  <mat-card-subtitle>{{ account.data.type }}</mat-card-subtitle>
  <mat-card-content>
    <h2
      [class.positive]="account.data.amount > 0"
      [class.bluish]="account.data.symbol === 'USD'"
      [class.negative]="account.data.amount < 0"
      [class.zerotive]="account.data.amount == 0"
    >
      {{ account.data.amount | currency }}
      <span class="mat-caption">{{ account.data.symbol }}</span>
    </h2>
  </mat-card-content>
  <div matRipple></div>
</mat-card>
