@import "../../../styles.scss";

mat-card {
  cursor: pointer;
  overflow: hidden;
  .mat-ripple {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .favorite-account-icon {
    float: right;
    color: mat-color($accent, 600);
  }
}
