<h2 mat-dialog-title>{{ data.category ? "Edit category" : "New category" }}</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="form-row">
      <mat-form-field appearance="standard">
        <mat-label>Icon</mat-label>
        <mat-select formControlName="icon">
          <mat-select-trigger>
            <div class="row-flex">
              <mat-icon *ngIf="this.form.controls.icon.value">{{
                this.form.controls.icon.value
              }}</mat-icon>
            </div>
          </mat-select-trigger>
          <mat-option *ngFor="let icon of icons" [value]="icon">
            <mat-icon>{{ icon }}</mat-icon>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name"
          title="name"
          autocomplete="given-name"
        />
        <mat-error *ngIf="form.controls.name.errors">
          This field is required
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="fetching">Close</button>
  <button
    mat-flat-button
    color="primary"
    (click)="confirm()"
    [disabled]="fetching"
    type="submit"
  >
    Confirm
  </button>
</div>
