<section class="account-container">
  <div class="account-grid">
    <div class="grid-area grid-top">
      <button mat-button (click)="navigateBack()" color="primary">
        <mat-icon>chevron_left</mat-icon> BACK TO ACCOUNTS
      </button>
    </div>
    <div class="grid-area grid-left">
      <mat-card
        *ngIf="!fetchingAccount; else fetchingAccountCard"
        class="account-card"
      >
        <mat-card-title class="card-title"
          ><span>{{ account.data.name }}</span>
          <span>
            <mat-icon
              (click)="toogleFavorite()"
              class="favorite-account-icon"
              color="accent"
              [class.not-favorite]="!account.data.favorite"
              >{{ account.data.favorite ? "star" : "star_outlined" }}</mat-icon
            >
          </span>
        </mat-card-title>
        <mat-card-subtitle>{{ account.data.type }}</mat-card-subtitle>
        <mat-card-content>
          <h2
            [class.positive]="!fetchingAccount && account.data.amount > 0"
            [class.bluish]="!fetchingAccount && account.data.symbol === 'USD'"
            [class.negative]="!fetchingAccount && account.data.amount < 0"
            [class.zerotive]="!fetchingAccount && account.data.amount == 0"
          >
            {{ account.data.amount | currency }}
            <span class="mat-caption">{{ account.data.symbol }}</span>
          </h2>
        </mat-card-content>
      </mat-card>
      <div class="account-card-actions">
        <button
          mat-button
          class="mat-elevation-z1"
          (click)="openTransactionDialog('in')"
          [disabled]="fetchingAccount"
          [class.positive]="!fetchingAccount"
        >
          INCOMING $
        </button>
        <button
          mat-button
          class="mat-elevation-z1"
          (click)="openTransactionDialog('out')"
          [disabled]="fetchingAccount"
          [class.negative]="!fetchingAccount"
        >
          OUTGOING $
        </button>
      </div>
      <app-monthly-categories
        *ngIf="acumulator && !fetchingAcumulator; else fetchingAcumulatorCard"
        [acumulator]="acumulator"
        (go)="goToMonth($event)"
      ></app-monthly-categories>
    </div>
    <div class="grid-area grid-right">
      <div
        class="mat-card transactions-list-container"
        *ngIf="!fetchingTransactions; else fetchingTransactionsCard"
      >
        <h2 class="transactions-list-title">Your activity</h2>
        <mat-divider></mat-divider>
        <div class="transactions-search-bar">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput title="search" />
            <span matSuffix><mat-icon>search</mat-icon></span>
          </mat-form-field>
        </div>
        <mat-action-list class="transaction-list">
          <mat-list-item
            *ngFor="let transaction of transactions"
            class="transaction-item"
            (click)="onTransactionClick(transaction)"
          >
            <div
              class="transaction-left"
              matTooltip="{{ transaction.scope.category.name }}"
            >
              <mat-icon class="transaction-scope">{{
                transaction.scope.category.icon
              }}</mat-icon>
            </div>
            <div class="transaction-main">
              <div mat-line>{{ transaction.description }}</div>
              <div class="transaction-light mat-caption row-flex">
                <span class="mat-caption"
                  >{{ transaction.scope.name | uppercase }} -
                  {{ transaction.scope.category.name }}</span
                >
              </div>
            </div>
            <div class="transaction-right">
              <div
                mat-line
                class="transaction-amount"
                [class.positive]="transaction.amount > 0"
                [class.bold]="transaction.amount > 0"
              >
                {{ transaction.amount > 0 ? "+ " : ""
                }}{{ transaction.amount | currency : "USD" : "$ " }}
              </div>
              <div class="transaction-date transaction-light mat-caption">
                {{ transaction.date | formatDate }}
              </div>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-action-list>
        <button
          mat-button
          class="activity-history"
          color="primary"
          (click)="goToHistory()"
        >
          <span>ACTIVITY HISTORY</span>
        </button>
      </div>
    </div>
    <div class="grid-area grid-bottom"></div>
  </div>
</section>

<ng-template #fetchingAccountCard>
  <mat-card [appSkeletonLoader]="true">
    <mat-card-title>
      <span>Placeholder</span>
    </mat-card-title>
    <mat-card-subtitle>placeholder</mat-card-subtitle>
    <mat-card-content>
      <h2>
        {{ 100000.55 | currency }}
        <span class="mat-caption">USD</span>
      </h2>
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #fetchingAcumulatorCard>
  <div [appSkeletonLoader]="true">
    <h1>Placeholder</h1>
    <p style="width: fit-content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, quae
      architecto optio sapiente aperiam in sequi, laboriosam, expedita
      doloremque adipisci pariatur distinctio et? Nisi, dignissimos provident
      modi consequatur eum quod.
    </p>
    <p>Lorem ipsum dolor</p>
    <p>Lorem ipsum</p>
    <p>Lorem ipsum dolor sit amet</p>
  </div>
</ng-template>

<ng-template #fetchingTransactionsCard>
  <mat-card>
    <mat-card-title [appSkeletonLoader]="true">
      <h1>Placeholder</h1>
    </mat-card-title>
    <mat-divider></mat-divider>
    <br />
    <mat-card-content>
      <div
        *ngFor="let transaction of [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]"
        [appSkeletonLoader]="true"
      >
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing</h1>
        <p>Placeholder placeholder</p>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>
