<section class="account-container">
  <div class="account-grid">
    <div class="grid-area grid-top">
      <button mat-button (click)="navigateBack()" color="primary">
        <mat-icon>chevron_left</mat-icon> BACK TO ACCOUNTS
      </button>
    </div>
    <div class="grid-area grid-left">
      <mat-card *ngIf="account">
        <mat-card-title
          ><span>{{ account.data.name }}</span>
          <span>
            <mat-icon
              (click)="toogleFavorite()"
              class="favorite-account-icon"
              color="accent"
              [class.not-favorite]="!account.data.favorite"
              >{{ account.data.favorite ? "star" : "star_outlined" }}</mat-icon
            >
          </span>
        </mat-card-title>
        <mat-card-subtitle>{{ account.data.type }}</mat-card-subtitle>
        <mat-card-content>
          <h2
            [class.positive]="account.data.amount > 0"
            [class.bluish]="account.data.symbol === 'USD'"
            [class.negative]="account.data.amount < 0"
            [class.zerotive]="account.data.amount == 0"
          >
            {{ account.data.amount | currency }}
            <span class="mat-caption">{{ account.data.symbol }}</span>
          </h2>
        </mat-card-content>
      </mat-card>
      <div class="account-card-actions">
        <button
          mat-button
          class="mat-elevation-z1 positive"
          (click)="openTransactionDialog('in')"
        >
          INCOMING $
        </button>
        <button
          mat-button
          class="mat-elevation-z1 negative"
          (click)="openTransactionDialog('out')"
        >
          OUTGOING $
        </button>
      </div>
    </div>
    <div class="grid-area grid-right">
      <div class="mat-card transactions-list-container">
        <h2 class="transactions-list-title">Your activity</h2>
        <mat-divider></mat-divider>
        <div class="transactions-search-bar">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput title="search" />
            <span matSuffix><mat-icon>search</mat-icon></span>
          </mat-form-field>
        </div>
        <mat-action-list class="transaction-list">
          <mat-list-item
            *ngFor="let transaction of transactions"
            class="transaction-item"
          >
            <div
              class="transaction-left"
              matTooltip="{{ transaction.scope.name }}"
            >
              <mat-icon class="transaction-scope">{{
                transaction.scope.icon
              }}</mat-icon>
            </div>
            <div class="transaction-main">
              <div mat-line>{{ transaction.description }}</div>
              <div class="transaction-light mat-caption row-flex">
                <span class="mat-caption">{{
                  transaction.scope.category.name
                }}</span>
              </div>
            </div>
            <div class="transaction-right">
              <div
                mat-line
                class="transaction-amount"
                [class.positive]="transaction.amount > 0"
                [class.bold]="transaction.amount > 0"
              >
                {{ transaction.amount > 0 ? "+ " : ""
                }}{{ transaction.amount | currency : "USD" : "$ " }}
              </div>
              <div class="transaction-date transaction-light mat-caption">
                {{ transaction.date | formatDate }}
              </div>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-action-list>
        <button
          mat-button
          class="activity-history"
          color="primary"
          (click)="goToHistory()"
        >
          <span>ACTIVITY HISTORY</span>
        </button>
      </div>
    </div>
    <div class="grid-area grid-bottom"></div>
  </div>
</section>
